<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>

<script id="menu_folder_template" type="text/template">
    <div class="tab-area folder-options">
        <ul class="folder-nav">
            <li>
                <a href="#">
                    Folder 1
                </a>
            </li>
            <li>
                <a href="#">
                    Folder 2
                </a>
                <ul>
                    <li><a href="#">Another Folder</a>
                        <ul>
                            <li class="file"><a href="#">FileName.txt</a></li>
                            <li class="file"><a href="#">FileName.txt</a></li>
                        </ul>
                    </li>
                    <li class="file"><a href="#">FileName.txt</a></li>
                    <li class="file"><a href="#">FileName.txt</a></li>
                    <li class="file picture"><a href="#">logo.png</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    Folder 3
                </a>
            </li>
        </ul>
    </div>
</script>

</body>
</html>